<head>
  <title>VidBits</title>
  <link rel="icon" type="image/ico" href="img/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
  <link rel='stylesheet' href='stylesheets/style.css'>
</head>
<body>
  <div class="contents-container" id="videos-container">
    {{#each items as |item|}}
    <div class="video-card">
        <div class="video-player">
            <iframe class="video-player" src={{item.videoUrl}} frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-title">
          {{item.title}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
<div id="navigation">
  <a href="/videos/create">
    <div class="create-button" id="create-button">
      <p>Add new item</p>
    </div>
  </a>
</div>
</body>