<head>
  <title>VidBits</title>
  <link rel="icon" type="image/ico" href="../img/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
  <link rel='stylesheet' href='../stylesheets/style.css'>
</head>
<body>
  <h2>Save a video</h2>
  <form class="input-form" action="/videos/create" method="post">
    <input id="title-input" placeholder="Video Title" name="title"></input>
    <textarea id="description-input" placeholder="Type your description here." name="description"></textarea>
    <input id="videoUrl-input" placeholder="Video URL" name="videoUrl"></input>
    <button type="submit" id="submit-button">Submit</button>
  </form>
</body>